ul.cards li {
  list-style: none;
  color: #908E91;
  font-size: 16px; }

.custom_card {
  border: 0px; }
  .custom_card img {
    width: 100%;
    object-fit: cover; }
  .custom_card .prop-description {
    min-height: 20px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis; }
  .custom_card .btn {
    margin: 0px; }
  .custom_card .prop-details {
    margin-bottom: 0px; }
  .custom_card .btn-info {
    background-color: #F5A623 !important; }
