ul.cards li {
  list-style: none;
  color: #908E91;
  font-size: 16px; }

.card {
  color: #908E91;
  font-size: 16px !important;
  font-weight: 200 !important; }
  .card img {
    width: 100%; }
  .card .prop-description {
    min-height: 20px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card .btn {
    margin: 0px; }
  .card .prop-details {
    margin-bottom: 0px; }
