.navbar {
  background: #fff;
  color: #000; }

.navi li a {
  font-size: 13px;
  color: grey; }

a, span, p {
  font-size: 13px;
  color: grey; }

.masthead ul li {
  list-style: none;
  display: inline-block; }

.settings-tabs {
  margin-bottom: 30px; }
  .settings-tabs li {
    padding: 15px;
    border: 1px solid lightgrey; }
  .settings-tabs .active {
    background: lightgrey; }
