ul.cards{
	li{
		list-style: none;
		 color:#908E91;
    	font-size:16px;
	}
}
.custom_card{
    border:0px;
	img{
		width:100%;
		object-fit:cover;
	}

	.prop-description{
	    min-height: 20px;
	    height: auto;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.btn{
		margin:0px;
	}
	.prop-details{
		margin-bottom:0px;
	}
	.btn-info{
		background-color: #F5A623 !important;
	}

}