.navbar{
	background:#fff;
	color:#000;
}
.navi{
	li a{
		font-size:13px;
		color:grey;
	}
}
a, span, p{
	font-size:13px;
	color:grey;
}

.masthead{
	ul li{
		list-style:none;
		display:inline-block;
	}
}
.settings-tabs{
	margin-bottom:30px;
	li{
		padding:10px 15px;
		border:1px solid lightgrey;
	}
	.active{
		background:lightgrey;
	}
}