.navbar{
	background:#fff;
	color:#000;
}
.navi{
	li a{
		font-size:13px;
		color:grey;
	}
}
a, span, p{
	font-size:13px;
	color:grey;
}

.masthead{
	ul li{
		list-style:none;
		display:inline-block;
	}
}
.settings-tabs{
	margin-bottom:30px;
	li{
		padding:10px 15px;
		border:1px solid lightgrey;
	}
	.active{
		background:lightgrey;
	}
}
.collapse:not(.show){
	display:block !important;
}
.fade:not(.show){
	opacity:1;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-right {
    float: right!important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
